$primary: #24292e;
$background: white;
$on-background: $primary;
$surface: #fafbfc;

$primary-dark: #0d1117;
$background-dark: #0d1117;
$surface-dark: #21262d;

$blue: #388bfc;
$green: #3fb950;
$purple: #8957e5;
$red: #da3633;
$orange: #f0883e;
